---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/RootLayout.astro";
import activities from "../data/serviceTypes.json";
import FacilitatorList from "../components/FacilitatorList.astro";
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../config/i18n";
import type { ActivityTranslationKeys } from "../types/activity";

interface Props {
  lang: Locale;
  activityId: string;
  activityNameKey: ActivityTranslationKeys;
}

const { lang, activityId, activityNameKey } = Astro.props;
const t = useTranslations(lang);
const pageTitle = t("facilitators.title");
---

<RootLayout title={pageTitle} lang={lang}>
  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-light"
  >
    <h1 class="text-6xl" transition:name="facilitators-title">
      {t("facilitators.title")}
    </h1>
    <h3
      class="text-2xl uppercase pt-4"
      transition:name={`activity-${activityId}`}
    >
      {t(activityNameKey)}
    </h3>
    <div class="flex flex-col items-center justify-center gap-10 py-16 px-4">
      <FacilitatorList activityId={activityId} lang={lang} />
    </div>
  </section>
</RootLayout>
