---
import { Image } from "astro:assets";
import RootLayout from "../layouts/RootLayout.astro";
import MarkdownRenderer from "../components/MarkdownRenderer.astro";
import { useTranslations } from "../i18n/utils";
import type { ImageMetadata } from "astro";

interface Service {
  name: string;
  price: string;
  duration: string;
  summary: string;
  description?: string[];
  image?: ImageMetadata;
  reserveLink?: string;
}

interface Contact {
  phone: string;
  email?: string;
  website?: string;
  facebook?: string;
  instagram?: string;
}

interface Props {
  lang: "ro" | "en";
  name: string;
  tags: string[];
  Content: any; // Astro component for rendered markdown
  services: Service[];
  images: ImageMetadata[];
  location?: string;
  locationUrl?: string;
  contact: Contact;
  servicesFirst?: boolean;
}

const {
  lang,
  name,
  tags,
  Content,
  services,
  images,
  location,
  locationUrl,
  contact,
  servicesFirst,
} = Astro.props;

const t = useTranslations(lang);
const hasServices = services.length > 0;
const showDescriptionAfterServices = Boolean(servicesFirst) && hasServices;
---

<style is:global>
  .pswp__img {
    border-radius: 1.5rem;
  }
</style>

<RootLayout title={name} lang={lang}>
  <section class="bg-secondary py-10 text-light">
    <div class="container mx-auto max-w-screen-sm px-4">
      <h1 class="text-5xl pt-4 pb-3" transition:name="facilitators-title">
        {name}
      </h1>
      <div class="flex flex-row gap-1.5">
        {
          tags.map((tag) => (
            <p
              transition:name={`facilitators-tag-${tag}`}
              class="bg-primary rounded-xl  text-xxs font-semibold text-red  text-center p-1.5 uppercase"
            >
              {tag}
            </p>
          ))
        }
      </div>
      <div class="flex flex-col">
        <div
          class:list={[
            "mt-5",
            showDescriptionAfterServices ? "order-2" : "order-1",
          ]}
        >
          {
            showDescriptionAfterServices && (
              <h2 class="text-2xl pt-4">{t("facilitator.about")}</h2>
            )
          }
          <div
            class:list={[
              "prose text-light prose-headings:text-light prose-a:text-secondary",
              showDescriptionAfterServices ? "mt-2" : "mt-5",
            ]}
          >
            <Content />
          </div>
        </div>
        {
          hasServices && (
            <div
              class:list={[
                "mt-4",
                showDescriptionAfterServices ? "order-1" : "order-2",
              ]}
            >
              <h2 class="text-2xl pt-4">{t("facilitator.services")}</h2>
              <ul>
                {services.map((service) => (
                  <li
                    x-data="{ expanded: false }"
                    class="my-2 border-b border-light  pb-6"
                  >
                    <div class="flex justify-between">
                      <div @click="expanded = ! expanded">
                        <h3 class="text-xl text-dark underline py-1 cursor-pointer">
                          {service.name}
                        </h3>
                        <div class="text-xs grid grid-cols-[auto_1px_auto_1px_auto] items-center">
                          <MarkdownRenderer
                            markdown={service.price}
                            class="mr-1"
                          />
                          <div class="bg-light h-full" />

                          <MarkdownRenderer
                            markdown={service.duration}
                            class="mx-1"
                          />
                          <div class="bg-light h-full" />

                          <MarkdownRenderer
                            markdown={service.summary}
                            class="ml-1"
                          />
                        </div>
                      </div>
                      {service.reserveLink && (
                        <a
                          href={service.reserveLink}
                          class="rounded-xl bg-primary uppercase h-7 px-2 pt-1 mt-2"
                        >
                          {t("facilitator.reserve")}
                        </a>
                      )}
                    </div>
                    {(service.description || service.image) && (
                      <div x-show="expanded" x-transition class="pt-2">
                        {service.description &&
                          service.description.map((desc) => (
                            <p class="py-1 text-sm">{desc}</p>
                          ))}
                        {service.image && (
                          <Image
                            src={service.image}
                            alt={service.name}
                            class="object-cover w-full grayscale-[80%] hover:grayscale-0 transition duration-300 ease-in-out aspect-[3/2] rounded-3xl mt-2"
                          />
                        )}
                      </div>
                    )}
                  </li>
                ))}
              </ul>
            </div>
          )
        }
      </div>

      <div id="gallery" class="mt-6 grid grid-cols-2 gap-2">
        {
          images.map((image, idx, imageArr) => (
            <a
              href={image.src}
              data-pswp-width={image.width}
              data-pswp-height={image.height}
              target="_blank"
              class:list={[
                "overflow-hidden border-[1px] border-primary hover:border-secondary",
                { "col-span-2 ": imageArr.length % 2 && idx === 0 },
              ]}
            >
              <Image
                src={image}
                alt={name}
                class="object-cover w-full grayscale-[80%] hover:grayscale-0 transition duration-300 ease-in-out aspect-[3/2] rounded-3xl "
                width="525"
                height="350"
              />
            </a>
          ))
        }
      </div>
      <div class="flex flex-col mt-4">
        <h2 class="text-2xl pt-4 mb-2">{t("facilitator.contact")}</h2>
        <div class="grid grid-cols-6 gap-2">
          {
            location && (
              <>
                <p class="text-light ">{t("facilitator.location")}</p>
                {locationUrl ? (
                  <a href={locationUrl} class="text-light underline col-span-5">
                    {location}
                  </a>
                ) : (
                  <p class="col-span-5">{location}</p>
                )}
              </>
            )
          }

          <p class="text-light">{t("facilitator.phone")}</p>
          <a
            href={`tel:${contact.phone}`}
            class="text-light underline col-span-5"
          >
            {contact.phone}
          </a>
          {
            contact.email && (
              <>
                <p class="text-light">{t("facilitator.email")}</p>
                <a
                  href={`mailto:${contact.email}`}
                  class="text-light underline col-span-5"
                >
                  {contact.email}
                </a>
              </>
            )
          }
          {
            contact.website && (
              <>
                <p class="text-light">{t("facilitator.website")}</p>
                <a
                  href={
                    contact.website.startsWith("http")
                      ? contact.website
                      : `https://${contact.website}`
                  }
                  class="text-light underline col-span-5"
                >
                  {contact.website}
                </a>
              </>
            )
          }

          <p class="text-light">{t("facilitator.social")}</p>
          <div class="flex gap-2 col-span-5">
            {
              contact.facebook && (
                <a href={contact.facebook} class="text-light underline">
                  Facebook
                </a>
              )
            }
            {
              contact.instagram && (
                <a href={contact.instagram} class="text-light underline">
                  Instagram
                </a>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</RootLayout>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });
  lightbox.init();
</script>
