---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/RootLayout.astro";
import activitiesData from "../data/services.json";
import { useTranslations } from "../i18n/utils";
import type { Activity } from "../types/activity";
import type { Locale } from "../config/i18n";

interface Props {
  lang: Locale;
}

// Type-cast the imported JSON to our Activity type
const activities = activitiesData as Activity[];

const { lang } = Astro.props;
const t = useTranslations(lang);
const pageTitle = t("services.title");

const facilitatorEntries = await getCollection("facilitators");

const activitySet = new Set();

facilitatorEntries.forEach((entry, index) => {
  (entry.data.activities ?? []).forEach((activity) => {
    activitySet.add(activity);
  });
});

const filteredActivities = activities.filter((activity) =>
  activitySet.has(activity.id),
);
---

<RootLayout title={pageTitle} lang={lang}>
  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-white"
  >
    <h1 class="text-6xl mb-8" transition:name="facilitators-title">
      {pageTitle}
    </h1>

    <div class="flex items-center justify-center mb-8">
      <a
        class="bg-secondary-pink rounded-full px-6 py-2 text-white uppercase text-center text-sm"
        href={`/${lang}/ghidare`}
      >
        {t("services.freeGuidance")}
      </a>
    </div>

    <div class="flex flex-col gap-2">
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-0"
      >
        {t("services.individualServices")}
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          filteredActivities
            .filter((activity) => !activity.id.startsWith("group"))
            .map((activity) => (
              <li class="py-2 text-center w-1/2 box-border even:clear-left">
                <a
                  href={`/${lang}/services/${activity.id}`}
                  class=" text-secondary-blue py-1"
                  transition:name={`activity-${activity.id}`}
                >
                  {t(activity.nameKey)}
                </a>
              </li>
            ))
        }
      </ul>
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-1"
      >
        {t("services.groupServices")}
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          filteredActivities
            .filter((activity) => activity.id.startsWith("group"))
            .map((activity) => (
              <li class="py-2  text-center w-1/2 box-border even:clear-left">
                <a
                  href={`/${lang}/services/${activity.id}`}
                  class=" text-secondary-blue py-1"
                  transition:name={`activity-${activity.id}`}
                >
                  {t(activity.nameKey)}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </section>
</RootLayout>
