---
import "keen-slider/keen-slider.min.css";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";
import RootLayout from "../layouts/RootLayout.astro";
import CalendarEvents from "../components/CalendarEvents.astro";
import ContactSection from "../components/ContactSection.astro";
import { useTranslations } from "../i18n/utils";

interface Props {
  lang: "ro" | "en";
}

const { lang } = Astro.props;
const t = useTranslations(lang);

import heroImage from "/src/assets/new-design/portrait_spatiu.jpg";
import heroDesktopImage from "/src/assets/new-design/landscape_spatiu.jpg";
const optimizedHeroImage = await getImage({
  src: heroImage,
  width: 1600,
  quality: 95,
});
const optimizedHeroDesktopImage = await getImage({
  src: heroDesktopImage,
  width: 1920,
  quality: 95,
});

import hub0 from "/src/assets/hub/hub0.jpg";
import hub1 from "/src/assets/hub/hub1.jpg";
import hub2 from "/src/assets/hub/hub2.jpg";
import hub3 from "/src/assets/hub/hub3.jpg";
import hub4 from "/src/assets/hub/hub4.jpg";
import hub5 from "/src/assets/hub/hub5.jpg";
import hub6 from "/src/assets/hub/hub6.jpg";
import hub7 from "/src/assets/hub/hub7.jpg";
import hub8 from "/src/assets/hub/hub8.jpg";
import hub9 from "/src/assets/hub/hub9.jpg";
import hub10 from "/src/assets/hub/hub10.jpg";
import hub11 from "/src/assets/hub/hub11.jpg";
import hub12 from "/src/assets/hub/hub12.jpg";

const images = [
  hub0,
  hub1,
  hub2,
  hub3,
  hub4,
  hub5,
  hub6,
  hub7,
  hub8,
  hub9,
  hub10,
  hub11,
  hub12,
];

const showEvents = import.meta.env.FF_SHOW_EVENTS;
---

<RootLayout title={t("space.title")} lang={lang}>
  <section
    class="relative hero-section h-[calc(100vh-7rem)] flex flex-col items-center justify-center text-center bg-cover bg-center 2xl:hidden"
    style={`background-image: url('${optimizedHeroImage.src}')`}
  >
  </section>
  <section
    class="relative hero-section h-[calc(100vh-7rem)] flex flex-col items-center justify-center text-center bg-cover bg-center max-2xl:hidden"
    style={`background-image: url('${optimizedHeroDesktopImage.src}')`}
  >
  </section>
  <section class="flex flex-col items-center justify-center">
    <p class="px-4 py-4 max-w-lg">
      {t("space.description1")}
    </p>
    <p class="px-4 max-w-lg">
      {t("space.description2")}
    </p>
    <p class="px-4 py-4 max-w-lg">
      {t("space.description3")}
    </p>

    <div id="carousel" class="keen-slider my-4 max-w-lg">
      {
        images.map((image) => (
          <div class="keen-slider__slide ">
            <Image
              class="rounded-2xl object-cover w-full h-96"
              src={image}
              alt={image.src}
            />
          </div>
        ))
      }
    </div>

    <div class="w-full p-4 max-w-lg">
      <h2 class="text-3xl mb-4">{t("space.bookNow")}</h2>
      <p>
        {t("space.bookDescription")}
      </p>

      <div class="flex items-center justify-center">
        <a
          id="rules"
          class="px-10 py-4 mt-4 text-primary rounded-full border-2 border-primary text-center"
          target="_blank"
          rel="noopener noreferrer"
          href="/spatiu.pdf"
        >
          {t("space.offersAndRegulations")}
        </a>
      </div>
      <div class="flex items-center justify-center">
        <a
          class="bg-primary rounded-full px-10 py-4 m-4 text-light uppercase text-center"
          href="https://wa.link/rjscoo"
        >
          {t("space.contactUs")}
        </a>
      </div>
    </div>
    {
      showEvents && (
        <div class="w-full p-4 max-w-lg  scroll-mt-16" id="events_calendar">
          <CalendarEvents
            server:defer
            title={t("space.calendarTitle")}
            lang={lang}
          />
        </div>
      )
    }
    <ContactSection lang={lang} />
  </section>

  <script src="@glidejs/glide/dist/glide.min.js"></script>

  <script>
    import KeenSlider from "keen-slider";
    ["astro:page-load"].forEach((event) => {
      document.addEventListener(event, () => {
        const slider = new KeenSlider("#carousel", {
          loop: true,
          slides: {
            origin: "center",
            perView: 1.2,
            spacing: 15,
          },
        });
      });
    });
  </script>
</RootLayout>
