---
import RootLayout from "../layouts/RootLayout.astro";
const pageTitle = "Activități";
import activities from "../data/activities.json";
---

<RootLayout title={pageTitle}>
  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-white"
  >
    <h1 class="text-6xl mb-8" transition:name="facilitators-title">
      Activități
    </h1>
    <div class="flex flex-col gap-2">
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-0"
      >
        Individuale
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          activities.individual.map((activity) => (
            <li class="py-2 text-center w-1/2 box-border even:clear-left">
              <a
                href={`/activities/${activity.id}`}
                class=" text-secondary-blue py-1"
              >
                {activity.name}
              </a>
            </li>
          ))
        }
      </ul>
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-1"
      >
        De grup
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          activities.group.map((activity) => (
            <li class="py-2  text-center w-1/2 box-border even:clear-left">
              <a
                href={`/activities/${activity.id}`}
                class=" text-secondary-blue py-1"
              >
                {activity.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</RootLayout>
