---
import MVV from "../components/MVV.astro";
import FacilitatorList from "../components/FacilitatorList.astro";
import HarmoniaText from "../components/HarmoniaText.astro";
import LogoMVV, { DarkBlue } from "../components/LogoMVV.astro";
import RootLayout from "../layouts/RootLayout.astro";
import { getImage } from "astro:assets";
import heroImage from "/src/assets/hero-2.png";
import { links } from "../content/links";
const optimizedBackgroundImage = await getImage({ src: heroImage });
const pageTitle = "My Astro site";
---

<RootLayout title={pageTitle}>
  <section
    class="relative hero-section h-[66vh] flex flex-col items-center justify-center gap-10 text-center bg-cover bg-center"
    style={`background-image: url('${optimizedBackgroundImage.src}')`}
  >
    <h1 class="text-7xl font-bold">Harmonic Reborn</h1>
    <p class="uppercase text-lg text-center w-10/12 max-w-xl">
      Un masaj holistic complet, complex si intuitiv bazat pe principii fondate
      si pe cumulul de experienta dobandit pana in prezent.
    </p>
    <div class="flex gap-4">
      <button
        class="bg-dark border-2 border-white bg-opacity-50 text-white uppercase px-4 py-2 rounded-full w-44 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Afla mai multe
      </button>
      <button
        class="bg-primary text-white uppercase px-4 py-2 rounded-full w-44 hover:bg-opacity-100 hover:bg-secondary-blue hover:text-dark"
      >
        Rezerva
      </button>
    </div>
    <!-- </div> -->
  </section>
  <section
    class="container mx-auto py-24 flex flex-col items-center justify-center gap-10"
  >
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#0FCBFF"
        title="Misiune"
        description="Prin colaborare, inovație și respect reciproc, avem misiunea de a crea un spațiu în care fiecare persoană se simte încurajată să își descopere și să își împărtășească adevărata strălucire."
      />
    </div>
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#FF969F"
        title="Valori"
        description="Îmbrățișăm un viitor unde respectul față de natură, colaborarea strânsă și împuternicirea fiecărei persoane să strălucească individual sunt esențiale. Ne dedicăm să creăm un spațiu unde fiecare acțiune reflectă grijă pentru planeta noastră, unde solidaritatea întărește legăturile comunitare, și unde fiecare voce are puterea de a inspira schimbare."
        appearsFromRight
      />
    </div>
    <div class="flex flex-col items-center justify-center max-w-lg">
      <MVV
        colorAccent="#00C3CD"
        title="Viziune"
        description="Să devenim un model de coexistență echitabilă și durabilă, unde progresul și bunăstarea sunt accesibile tuturor. Suntem dedicați în a hrăni o lume în care indivizii se unesc pentru a deschide calea către un viitor mai strălucit și mai armonios."
      />
    </div>
  </section>

  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-white"
  >
    <h1 class="text-6xl">Facilitatori</h1>
    <div class="flex flex-col items-center justify-center gap-10 py-16 px-4">
      <FacilitatorList />
    </div>
    <button
      data-aos="flip-up"
      class="bg-secondary-pink text-primary uppercase px-4 py-2 rounded-full w-60 h-12 hover:bg-opacity-100 hover:bg-secondary-blue"
    >
      Vezi toti facilitatorii
    </button>
  </section>
  <section
    class="flex flex-col items-center justify-center bg-secondary-pink py-24 text-white"
  >
    <ul class="flex flex-col justify-center items-center gap-8 uppercase">
      {
        links.map(({ url, title }) => (
          <li>
            <a class="hover:text-secondary-blue  transition-colors" href={url}>
              {title}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="flex items-center justify-center gap-2 py-16">
      <LogoMVV
        accentFill1={DarkBlue}
        accentFill2={DarkBlue}
        accentFill3={DarkBlue}
        accentFill4={DarkBlue}
        class="h-14 w-14"
      />
      <HarmoniaText class="h-14" />
    </div>
    <div>
      <p class="text-center uppercase text-sm border-b-primary pb-2 border-b-2">
        healing in oneness
      </p>
      <div class="flex items-center justify-center gap-2 mt-2">
        <svg
          class="w-6 h-6 text-primary bg-white rounded-full pl-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 28 28"
        >
          <path
            fill-rule="evenodd"
            d="M13.135 6H15V3h-1.865a4.147 4.147 0 0 0-4.142 4.142V9H7v3h2v9.938h3V12h2.021l.592-3H12V6.591A.6.6 0 0 1 12.592 6h.543Z"
            clip-rule="evenodd"></path>
        </svg>
        <svg
          class="w-6 h-6 text-primary bg-white rounded-full p-1"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M13.795 10.533 20.68 2h-3.073l-5.255 6.517L7.69 2H1l7.806 10.91L1.47 22h3.074l5.705-7.07L15.31 22H22l-8.205-11.467Zm-2.38 2.95L9.97 11.464 4.36 3.627h2.31l4.528 6.317 1.443 2.02 6.018 8.409h-2.31l-4.934-6.89Z"
          ></path>
        </svg>

        <svg
          class="w-6 h-6 text-primary bg-white rounded-full p-1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 56.7 56.7"
        >
          <g>
            <path
              d="M28.2,16.7c-7,0-12.8,5.7-12.8,12.8s5.7,12.8,12.8,12.8S41,36.5,41,29.5S35.2,16.7,28.2,16.7z M28.2,37.7
		c-4.5,0-8.2-3.7-8.2-8.2s3.7-8.2,8.2-8.2s8.2,3.7,8.2,8.2S32.7,37.7,28.2,37.7z"
            ></path>
            <circle cx="41.5" cy="16.4" r="2.9"></circle>
            <path
              d="M49,8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7,0-14.5,5.8-14.5,14.5v20.5c0,4.3,1.4,8,4.2,10.7c2.7,2.6,6.3,3.9,10.4,3.9
		h20.4c4.3,0,7.9-1.4,10.5-3.9c2.7-2.6,4.1-6.3,4.1-10.6V19.3C53,15.1,51.6,11.5,49,8.9z M48.6,39.9c0,3.1-1.1,5.6-2.9,7.3
		s-4.3,2.6-7.3,2.6H18c-3,0-5.5-0.9-7.3-2.6C8.9,45.4,8,42.9,8,39.8V19.3c0-3,0.9-5.5,2.7-7.3c1.7-1.7,4.3-2.6,7.3-2.6h20.6
		c3,0,5.5,0.9,7.3,2.7c1.7,1.8,2.7,4.3,2.7,7.2V39.9L48.6,39.9z"
            ></path>
          </g>
        </svg>
        <svg
          class="w-6 h-6 text-primary bg-white rounded-full p-1"
          viewBox="0 0 448 512"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"
          ></path>
        </svg>
      </div>
    </div>
  </section>
</RootLayout>
