---
import { getCollection } from "astro:content";
import RootLayout from "../layouts/RootLayout.astro";
const pageTitle = "Servicii";
import activities from "../data/activities.json";

const facilitatorEntries = await getCollection("facilitators");

const activitySet = new Set();

facilitatorEntries.forEach((entry, index) => {
  (entry.data.activities ?? []).forEach((activity) => {
    activitySet.add(activity);
  });
});

const filteredActivities = activities.filter((activity) =>
  activitySet.has(activity.id),
);
---

<RootLayout title={pageTitle}>
  <section
    class="flex flex-col items-center justify-center bg-primary py-24 text-white"
  >
    <h1 class="text-6xl mb-8" transition:name="facilitators-title">
      {pageTitle}
    </h1>

    <div class="flex items-center justify-center mb-8">
      <a
        class="bg-secondary-pink rounded-full px-6 py-2 text-white uppercase text-center text-sm"
        href="/ghidare"
      >
        Ghidare gratuită
      </a>
    </div>

    <div class="flex flex-col gap-2">
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-0"
      >
        Facilitatori – Servicii individuale
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          filteredActivities
            .filter((activity) => !activity.id.startsWith("group"))
            .map((activity) => (
              <li class="py-2 text-center w-1/2 box-border even:clear-left">
                <a
                  href={`/services/${activity.id}`}
                  class=" text-secondary-blue py-1"
                  transition:name={`activity-${activity.id}`}
                >
                  {activity.name}
                </a>
              </li>
            ))
        }
      </ul>
      <h2
        class="text-2xl pt-4 text-center mb-2"
        transition:name="facilitator-1"
      >
        Facilitatori – Servicii de grup
      </h2>
      <ul class="flex flex-wrap w-80 place-items-center">
        {
          filteredActivities
            .filter((activity) => activity.id.startsWith("group"))
            .map((activity) => (
              <li class="py-2  text-center w-1/2 box-border even:clear-left">
                <a
                  href={`/services/${activity.id}`}
                  class=" text-secondary-blue py-1"
                  transition:name={`activity-${activity.id}`}
                >
                  {activity.name}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
  </section>
</RootLayout>
