---
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../config/i18n";

interface Props {
  title: string;
  description: string;
  timeRange: string;
  detailsLink?: string;
  registerLink?: string;
  isVisible?: string;
  lang?: Locale;
}

const {
  title,
  description,
  timeRange,
  detailsLink,
  registerLink,
  isVisible,
  lang = "ro",
} = Astro.props;

const t = useTranslations(lang);
---

<div
  x-data="{
    expanded: false,
    hasOverflow: false,
    scrollPosition: 0,
    checkOverflow() {
      const content = this.$refs.content;
      this.hasOverflow = content.scrollHeight > content.clientHeight;
    },
    toggleExpanded() {
      if (!this.expanded) {
        // Before expanding, save current scroll position
        this.scrollPosition = window.scrollY;
      }

      this.expanded = !this.expanded;

      // You can add additional logic here
      if (this.expanded) {
        // Maybe track analytics or perform other actions
      } else {
        this.$nextTick(() => {
          setTimeout(() => {
            window.scrollTo({
              top: this.scrollPosition,
              behavior: 'smooth'
            });
          }, 100); // Wait for x-collapse animation to complete
        });
      }
    },
  }"
  x-effect={`if (${isVisible}) {
    $nextTick(() => checkOverflow());
  }`}
  class="bg-secondary bg-opacity-10 p-4 rounded-lg"
>
  <div class="flex items-center justify-between gap-2">
    {
      detailsLink ? (
        <a
          href={detailsLink}
          class="text-xl font-semibold text-secondary underline mt-2 inline-block"
          target="_blank"
          rel="noopener noreferrer"
        >
          {title}
        </a>
      ) : (
        <span class="text-xl font-semibold">{title}</span>
      )
    }
    {
      registerLink && (
        <a
          href={registerLink}
          class="rounded-xl bg-secondary uppercase h-7 px-4 pt-1 mt-2 text-light text-sm"
        >
          {t("calendar.participate")}
        </a>
      )
    }
  </div>
  <p class="italic text-xs">{timeRange}</p>
  <div
    x-show="expanded"
    x-collapse
    class="overflow-hidden prose mt-2 text-primary prose-headings:text-primary prose-p:text-primary prose-li:text-primary prose-strong:text-primary prose-a:text-primary prose-hr:border-primary prose-p:m-2 prose-hr:m-2"
    set:html={description}
  />
  <div
    x-show="!expanded"
    x-collapse
    x-ref="content"
    class="line-clamp-3 overflow-hidden prose mt-2 text-primary prose-headings:text-primary prose-p:text-primary prose-li:text-primary prose-strong:text-primary prose-a:text-primary prose-hr:border-primary prose-p:m-2 prose-hr:m-2"
    set:html={description}
  />
  <button
    x-show="hasOverflow"
    @click="toggleExpanded()"
    class="block mt-2 text-secondary underline text-sm cursor-pointer"
  >
    <span
      x-text={`expanded ? '${t("calendar.showLess")}' : '${t("calendar.showMore")}'`}
    ></span>
  </button>
</div>
