---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  displayCount?: number;
  activityId?: string;
}
export const DarkBlue = "#224884";
export const LightBlue = "#0FCBFF";
export const Teal = "#00C3CD";
export const Pink = "#FF969F";

const { displayCount, activityId } = Astro.props;

const facilitators = (await getCollection("facilitators"))
  .filter((facilitator) =>
    activityId ? facilitator.data.activities.includes(activityId) : true,
  )
  .slice(0, displayCount);
---

<>
  {
    facilitators.map((facilitator, idx) => (
      <a
        data-aos={idx % 2 ? "fade-up" : "fade-down"}
        class:list={[
          "css-animation facilitator-card flex flex-row justify-center gap-4 inlibe-block float-left max-h-36",
          { "from-right": idx % 2 },
        ]}
        transition:name={`facilitator-${idx}`}
        transition:animate="slide"
        href={`/facilitators/${facilitator.slug}`}
      >
        <Image
          src={facilitator.data.images[0]}
          alt={facilitator.data.name}
          class="rounded-3xl object-cover"
          width={150}
          height={150}
        />

        <div class="flex flex-col  gap-3 py-2 w-36">
          <h2 class="text-xl">{facilitator.data.name}</h2>
          <div class="flex flex-col gap-1.5">
            {facilitator.data.tags.map((tag) => (
              <p
                transition:name={`facilitators-tag-${tag}`}
                class="bg-secondary-teal rounded-xl  text-xxs font-semibold text-red  text-center p-1.5 uppercase"
              >
                {tag}
              </p>
            ))}
          </div>
        </div>
      </a>
    ))
  }
</>
