---
import LogoMVV, { DarkBlue } from "../components/LogoMVV.astro";
import HarmoniaText from "../components/HarmoniaText.astro";
import { getLocalizedLinks } from "../content/links";
import { Icon } from "astro-icon/components";
import { useTranslations } from "../i18n/utils";
import type { Locale } from "../config/i18n";

interface Props {
  lang: Locale;
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const links = getLocalizedLinks(lang);
---

<footer
  class="flex flex-col items-center justify-center bg-secondary-pink py-24 text-white"
>
  <ul class="flex flex-col justify-center items-center gap-8 uppercase">
    <li>
      <a
        class="css-animation rounded-full px-10 py-2 uppercase transition-color text-primary border-2 text-center transition-colors"
        href={`/${lang}/ghidare`}
      >
        {t("footer.freeGuidance")}
      </a>
    </li>
    {
      links.map(({ url, title }) => (
        <li>
          <a class="hover:text-secondary-blue  transition-colors" href={url}>
            {title}
          </a>
        </li>
      ))
    }
    <li>
      <a
        class="css-animation bg-primary rounded-full px-10 py-2 text-white uppercase hover:bg-secondary-blue hover:text-primary transition-colors"
        href={`/${lang}/new-facilitator`}
      >
        {t("footer.becomeFacilitator")}
      </a>
    </li>
  </ul>
  <div class="flex items-center justify-center gap-2 py-16">
    <LogoMVV
      accentFill1={DarkBlue}
      accentFill2={DarkBlue}
      accentFill3={DarkBlue}
      accentFill4={DarkBlue}
      class="h-14 w-14"
    />
    <HarmoniaText class="h-14" />
  </div>
  <div>
    <p class="text-center uppercase text-sm border-b-primary pb-2 border-b-2">
      {t("footer.tagline")}
    </p>
    <div class="flex items-center justify-center gap-2 mt-2">
      <a
        href="https://www.instagram.com/_harmoniaworld_/?igsh=dmYzdG1uMTNxdHFy"
      >
        <Icon
          name="instagram"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>

      <a href="https://chat.whatsapp.com/HhSyeGSkPtZ0EcUZSwbfy7">
        <Icon
          name="whatsapp"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>
      <a href="mailto:harmoniacomm@gmail.com">
        <Icon
          name="email"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>
    </div>
  </div>
</footer>
