---
import LogoMVV, { DarkBlue } from "../components/LogoMVV.astro";
import HarmoniaText from "../components/HarmoniaText.astro";
import { links } from "../content/links";
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center justify-center bg-secondary-pink py-24 text-white"
>
  <ul class="flex flex-col justify-center items-center gap-8 uppercase">
    {
      links.map(({ url, title }) => (
        <li>
          <a class="hover:text-secondary-blue  transition-colors" href={url}>
            {title}
          </a>
        </li>
      ))
    }
    <li>
      <a
        class="css-animation bg-primary rounded-full px-10 py-2 text-white uppercase hover:bg-secondary-blue hover:text-primary transition-colors"
        href="/new-facilitator"
      >
        Devino facilitator
      </a>
    </li>
  </ul>
  <div class="flex items-center justify-center gap-2 py-16">
    <LogoMVV
      accentFill1={DarkBlue}
      accentFill2={DarkBlue}
      accentFill3={DarkBlue}
      accentFill4={DarkBlue}
      class="h-14 w-14"
    />
    <HarmoniaText class="h-14" />
  </div>
  <div>
    <p class="text-center uppercase text-sm border-b-primary pb-2 border-b-2">
      healing in oneness
    </p>
    <div class="flex items-center justify-center gap-2 mt-2">
      <a href="https://www.facebook.com/pages/Harmonia-Terra/365290919994667">
        <Icon
          name="facebook"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>

      <a href="https://www.instagram.com/harmonia_terra">
        <Icon
          name="instagram"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>

      <a href="https://wa.me/40745255365">
        <Icon
          name="whatsapp"
          class="w-6 h-6 fill-primary bg-white rounded-full p-1"
        />
      </a>
    </div>
  </div>
</footer>
